body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
   
}
.name-highlight{
    color: orange;
}
.first-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    text-align: justify;
}
.first-width img{
    width: 100%;
}