body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
   
}
.name-highlight{
    color: orange;
}
.first-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    text-align: justify;
}
.first-width img{
    width: 100%;
}
.Top-Banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.button-1{
    height: 40px;
    width: 80px ;
    background-color:orange;
    color: white;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(lightSalmon,tomato);
    
}
.button-2{
    height: 40px;
    width: 150px ;
    background-color:orange;
    color: white;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(lightSalmon,tomato);

}